{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="message">
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
    <h2>{{ product.name }} details</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" width="250px">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>

            <form action="{% url 'add-to-cart' product.slug %}" method="post">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ order.quantity|default:1 }}" min="1"
                    max="{{ product.quantity|default:1 }}">
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i></button>

                <p>Tailles disponibles :</p>
                <ul>
                    {% for product_size in product.sizes.all %}
                    {% if product_size.stock > 0 %}
                    <li>
                        <input type="radio" value="{{ product_size.size.name }}" name="size">
                        {{ product_size.size.name }} (Stock: {{ product_size.stock }})
                    </li>
                    {% endif %}
                    {% empty %}
                    <li>Aucune taille disponible</li>
                    {% endfor %}
                </ul>
            </form>

            <form action="{% url 'remove-from-cart' product.slug %}" method="post" style="margin-top: 10px;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><i class="fas fa-minus"></i></button>
            </form>

            {% if user.is_authenticated %}
            {% if product.quantity == 0 %}
            <p>Trop tard, produit en rupture de stock, un peu de patience</p>
            {% elif product.quantity == 1 %}
            <p>Quantité disponible : 1 <br> Dernier article en stock</p>
            {% elif product.quantity <= 5 %} <p>Quantité disponible : Vite, il ne reste que {{ product.quantity }}
                article(s) en stock</p>
                {% else %}
                <p>Quantité disponible : {{ product.quantity }} articles</p>
                {% endif %}
                {% else %}
                <p>Veuillez vous connecter pour ajouter au panier</p>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}