{% extends 'base.html' %}

{% block content %}
<!--à supprimer test-->
<style>
    .cart-items {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
    }

    button {
        background: #5469d4;
        color: #ffffff;
        padding: 12px 24px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }
</style>

<h2>Récap de votre commande</h2>
<div id="cart-items">

    {% for order in cart.orders.all %}
    <ul>
        <li>
            {{ order.product.name }} - Quantité: {{ order.quantity }} - Prix: {{ order.product.price }}€
        </li>
    </ul>
    {% endfor %}

</div>
<h3>Adresse de livraison</h3>
<div class="shipping_address">
    <p>{{ shipping_address.address_line_1 }} {{ shipping_address.address_line_2 }}</p>
    <p>{{ shipping_address.city }}, {{ shipping_address.postal_code }}</p>
    <p>{{ shipping_address.country }}</p>
</div>

<h3>Adresse de facturation</h3>
<div class="billing_address">
    <p>{{ billing_address.address_line_1 }} {{ billing_address.address_line_2 }}</p>
    <p>{{ billing_address.city }}, {{ billing_address.postal_code }}</p>
    <p>{{ billing_address.country }}</p>
</div>
<div>Total: {{ cart.get_total }}€</div>
<button id="checkout-button">Payer</button>

{% block extra_scripts %}
<script>
    // Récupération des éléments
    const hideableShippingForm = document.querySelector('.shipping_address');
    const hideableBillingForm = document.querySelector('.billing_address');
    const useDefaultShipping = document.querySelector('input[name="use_default_shipping"]');
    const useDefaultBilling = document.querySelector('input[name="use_default_billing"]');

    // Vérification si les éléments existent avant d'ajouter les listeners
    if (useDefaultShipping) {
        useDefaultShipping.addEventListener('change', function () {
            if (this.checked) {
                hideableShippingForm.classList.add('hidden');
            } else {
                hideableShippingForm.classList.remove('hidden');
            }
        });
    }

    if (useDefaultBilling) {
        useDefaultBilling.addEventListener('change', function () {
            if (this.checked) {
                hideableBillingForm.classList.add('hidden');
            } else {
                hideableBillingForm.classList.remove('hidden');
            }
        });
    }
</script>
{% endblock extra_scripts %}
{% endblock %}