<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeleneB's Shop</title>
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/store.css' %}">

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <a href="{% url 'index' %}">
        <h1>Welcome to HeleneB's Shop</h1>
    </a>
    {% if user.is_authenticated %}
    <p>Bienvenue {{ user.username }}, bon Shopping 😉!</p>
    <a href="{% url 'logout' %}">Déconnexion</a>
    {% if user.cart %}
    <a href="{% url 'cart' %}">Panier</a>
    <p> {{user.cart.orders.count}} dans votre panier</p>
    {% endif %}
    {% else %}
    <a href="{% url 'signup' %}">S'inscrire</a>
    <a href="{% url 'login' %}">Se connecter</a>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}
</body>

</html>